<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="57x57" href="https://images.velog.io/images/kyj0206/post/66989497-54f0-4425-82c6-de4ce09bf9db/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://images.velog.io/images/kyj0206/post/e67f2907-bd9a-4519-81b2-8a1802f0c5d2/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://images.velog.io/images/kyj0206/post/8b5c4a97-fcfa-429a-9ef3-45c4f98de36d/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://images.velog.io/images/kyj0206/post/1ebaab11-8a66-4847-9ccb-67a40552f753/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://images.velog.io/images/kyj0206/post/afceaad9-6bef-4a25-b347-c75f6695b78f/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://images.velog.io/images/kyj0206/post/08c43391-8a24-402e-9d37-cfb659501db6/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://images.velog.io/images/kyj0206/post/17654ff0-14b9-4724-aea0-2be390931185/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://images.velog.io/images/kyj0206/post/7862aaa2-4338-4446-861f-85348e0ed935/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://images.velog.io/images/kyj0206/post/eb644563-0892-48a6-ae7e-007f0842703c/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="https://images.velog.io/images/kyj0206/post/debc8b5a-0a35-4258-8b23-635ec93fc92e/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://images.velog.io/images/kyj0206/post/1644c6d0-e024-472d-be64-ace4f21ce410/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://images.velog.io/images/kyj0206/post/48132420-7c6a-4848-80bc-857fac2d1050/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://images.velog.io/images/kyj0206/post/fe744b81-ccc3-40ac-a762-de6fea9cd3a5/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://images.velog.io/images/kyj0206/post/35aecfc7-62ff-4486-aaff-b470fafc48f5/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- end custom head snippets -->