.portfolio-gallery-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 2 - 20px), 1fr));
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.portfolio-gallery-box:last-child {
    margin-bottom: 0;
}

.portfolio-item {
    text-align: center;
    background: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    transition: transform 0.2s; /* 애니메이션 효과 */
    max-width: 310px;
}

.portfolio-item:hover {
    transform: scale(1.02); /* 호버 시 확대 효과 */
}

.portfolio-item img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-top: 4px solid #252a34;
    border-bottom: 4px solid #252a34;
    background: #fff;
    /* 백그라운드 */
}

.portfolio-item h3 {
    margin: 10px 0;
    font-size: 1em; /* 제목 크기 */
    color: #333; /* 제목 색상 */
}

.portfolio-item span {
    margin: 5px 0;
    font-size: 0.8em; /* 설명 텍스트 크기 */
    color: #666; /* 설명 텍스트 색상 */
}

.portfolio-item p {
    width: 100%;
    border: 1px solid #cf5d00;
    color: #eaeaea;
    margin: 0;
    padding: 4px;
    background: #cf5d00;
    font-size: 0.7em; /* 설명 텍스트 크기 */
}

h2 {
    grid-column: span 3; /* 제목을 전체 열 너비로 확장 */
    margin: 20px 0 10px; /* 제목 여백 조정 */
    font-size: 20px;
    color: #eee; /* 제목 색상 */
}

.item-des{
    padding: 10px 5px 15px 5px;
}

.item-date{
    width: 100%;
    display: flex;
}

@media (max-width: 425px) {
    .portfolio-gallery-box {
        grid-template-columns: 1fr;
    }
}